
<div class="col-12 global-padding">
    <div class="container-fluid">
        <div class="col-sm-8 pb-5">
            <div  class="col-lg-6 col-md-6 col-ms-6" *ngFor="let item of product.productImages; let i=index">
                <img  [src]="item.img" alt="" class="img-details">
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <p class="title text-dark">{{product.title}}</p>
            <p class="text  text-dark">{{product.details}}</p>
            <p class="text  text-dark text-decoration-line-through" *ngIf="product.department=='occasion'">{{product.prePrice}} د.ك</p>
            <p class="text  text-dark">{{product.price}} د.ك</p>
            <select name="size" id="size" class="form-select" *ngIf="product.department=='clothes'" (change)="size=$event.target!;size=size.value">
                <option value="">اختر المقاس المناسب</option>
                <option [value]="item" *ngFor="let item of clothes">{{item}}</option>
                <!-- <ng-template *ngIf="product.type=='kids'">
                    <option [value]="" *ngFor="let item of kidsSizeShoes">{{item}}</option>
                </ng-template> -->
            </select>
            <select name="size" id="size" class="form-select" *ngIf="product.department=='shoes'" (change)="size=$event.target!;size=size.value">
                <option value="">اختر المقاس المناسب</option>
                <option [value]="item" *ngFor="let item of shoes">{{item}}</option>
                <!-- <ng-template *ngIf="product.type=='kids'">
                    <option [value]="" *ngFor="let item of kidsSizeShoes">{{item}}</option>
                </ng-template> -->
            </select>
            <div class="text-center mt-2">
                <a href="https://wa.me/{{temp.social}}?text=مرحباً اريد الحصول علي هذا المنتج : %0aاسم المنتج%20:%20{{product.title}}%0aتفاصيل المنتج : %20{{product.details}} %0a%20 %20 مقاس {{size}} %0a%20: النوع {{product.type=='men'?'رجالي':(product.type=='women')?'نسائي':'اطفال'}} %0a%20 من قسم {{product.department}} %0aالسعر المطلوب%20:%20{{product.price}} د.ك " *ngFor="let temp of whatsapp" target="_blank" class="btn btn-success request" style="font-size: 16px !important">
                اطلب الان
                <i class="bi bi-whatsapp"></i>
            </a>
            </div>
        </div>
       
    </div>
</div>