
@media screen and (max-width:991px) and (min-width:601px) {
    img.img-details{
        height: 320px;
    }
}

@media screen and (max-width:600px) {
    img.img-details{
        height: 320px;
        margin-right: 9.8%;
    }
    .img-details{
        display: none;
    }
    .text, .title{
        padding: 12px;
    }
    #img1{
        display: block !important;
    }
    .pb-5 {
        padding-bottom: 0rem!important;
    }
    .product-image{
        position: relative;
    }
    .product-image .bi{
        position: absolute;
        top: 41%;
        display: block;
        color: #00a0dd;
    }
    .bi-caret-left-fill{
        left: 0;
    }
    .p-4 {
        padding: 0.5rem!important;
    }
}
.img-details{
    width: 80%;
    height: 410px;
    margin-bottom: 15px;
    border-radius: 10px;
    // box-shadow: 0px 0px 13px #d1d1f5;
}

.title{
    font-size: 25px;
    font-weight: 500;
    // background: aliceblue;
    padding: 25px;
    padding: 10px;
    // border-top-left-radius: 40px;
    // border-bottom-right-radius: 40px;
    text-align: center;
}
.text{
    font-size: 1.4em;
    padding: 12px;
    // background: rgb(240, 240, 240);
    // border-top-left-radius: 40px;
    // border-bottom-right-radius: 40px;
    text-align: center;
}
.form-select{
    font-size: 18px;
    text-align: center;
    margin: 15px 0px;
}
.bi{
    font-size: 1.4em;
    margin: 6px;
}
.bi-caret-left-fill,
.bi-caret-right-fill{
    display: none;
}