
@media screen and (max-width:991px) and (min-width:601px) {
    img.img-details{
        height: 320px;
    }
}

@media screen and (max-width:600px) {
    img.img-details{
        height: 320px;
        margin-right: 10%;
    }
    .img-details{
        display: none;
    }
    #img1{
        display: block !important;
    }
    .pb-5 {
        padding-bottom: 0rem!important;
    }
    .product-image{
        position: relative;
    }
    .product-image .bi{
        position: absolute;
        top: 41%;
        display: block;
    }
    .bi-caret-left-fill{
        left: 0;
    }
}
.img-details{
    width: 80%;
    height: 410px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px #d1d1f5;
}

.title{
    font-size: 25px;
    font-weight: 500;
    background: aliceblue;
    padding: 25px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
}
.text{
    font-size: 1.2em;
    background: rgb(240, 240, 240);
    padding: 25px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
}

.bi{
    font-size: 1.2em;
    margin: 6px;
}
.bi-caret-left-fill,
.bi-caret-right-fill{
    display: none;
}