<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="text-center w-100">
      <a class="navbar-brand text-capitalize" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-sliders m-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z"/>
        </svg>
        ecommerce
      </a>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-capitalize" id="offcanvasNavbarLabel">ecommerce</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/">الصفحة الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">رجالي</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">نسائي</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">اطقال</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/">Link</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="col-12 dash">
  <button class="btn btn-primary btn-add" (click)="control='add-product'">اضافة منتج</button>
  <button class="btn btn-secondary " (click)="control='show-product'">عرض المنتجات</button>
  <div class="table-responsive" *ngIf="control=='show-product'">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">اسم المنتج</th>
          <th scope="col">تفاصيل المنتج</th>
          <th scope="col">فئة المنتج</th>
          <th scope="col">سعر المنتج</th>
          <th scope="col">السعر المطلوب</th>
          <th scope="col">صورة المنتج</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>XYZ</td>
          <td>mdo</td>
          <td>hello</td>
          <td><img class="small-image" src="assets/36.png" alt=""></td>
          <td> 
            <button type="button" class="btn btn-warning">edit</button>
            <button type="button" class="btn btn-danger m-1">X</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>hooper</td>
          <td>fat</td>
          <td>not</td>
          <td><img class="small-image" src="assets/36.png" alt=""></td>
          <td> 
            <button type="button" class="btn btn-warning">edit</button>
            <button type="button" class="btn btn-danger m-1">X</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>twitter</td>
          <td>said</td>
          <td>sarrt</td>
          <td>dssawe</td>
          <td><img class="small-image" src="assets/36.png" alt=""></td>
          <td> 
            <button type="button" class="btn btn-warning">edit</button>
            <button type="button" class="btn btn-danger m-1">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form [formGroup]="product" *ngIf="control=='add-product'" (ngSubmit)="submit()">
    <div class="form-group p-4">
      <label for="type">اختر النوع </label>
      <select class="form-select mb-2" aria-label="Default select example" formControlName="type" id="type">
        <option value="men">men</option>
        <option value="women">women</option>
        <option value="kids">kids</option>
      </select>
      <label for="department">اختر فئة المنتج</label>
      <select class="form-select mb-2" aria-label="Default select example" formControlName="department" id="department">
        <ng-container *ngIf="product.get('type')?.value != 'kids' "><option [value]="item" *ngFor="let item of adultLinks">{{item}}</option></ng-container>
        <ng-container *ngIf="product.get('type')?.value == 'kids' "><option [value]="item" *ngFor="let item of kidsLinks">{{item}}</option></ng-container>
      </select>
      <input class="form-control mb-2" type="text" placeholder="اسم المنتج" aria-label="default input example" formControlName="title">
      <input class="form-control mb-2" type="text" placeholder="تفاصيل المنتج" aria-label="default input example" formControlName="details">
      <input class="form-control mb-2" type="number" placeholder="سعر المنتج" aria-label="default input example" formControlName="prePrice">
      <input class="form-control mb-2" type="number" placeholder="السعر المطلوب / السعر بعد الخصم" aria-label="default input example" formControlName="price">
      <div class="col-12">
        <label for="formFileMultiple" class="form-label mr-2">صور المنتج</label>
        <div class="images-upload">
          <input class="form-control" type="file" id="formFileMultiple" multiple (change)="upload($event)">
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up svg-upload" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z"/>
          <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
        </svg>
      </div>
      <div class="col-12 mb-2">
        <div *ngFor="let item of photourl" class="promo-Image-div">
            <button class="delete-image-btn">x</button>
            <img class="small-image" [src]="item" alt="">
        </div>
      </div>
      <br>
      <p class="text-danger" *ngIf="photosSize.length !=0">  جحم الصورة رقم<span *ngFor="let item of photosSize;"> -  {{item}}  </span> اكبر من 50 KB  يجب تبديلهم بحجم اصغر</p>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">اضافة </button>
      </div>
    </div>
  </form>
  
</div>