/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
    box-sizing: border-box;
    direction: rtl;
}
[class*="col-"]{
    float: left;
    width: 100%;
}

.global-padding{
    margin-top: 105px;
    // background-color: rgb(238 238 238 / 37%);
}
.col-sm-3{
    float: right !important;
}
.product{
    border: none !important;
    float: right;
    // box-shadow: 0px 0px 10px #e1e1e1;
    border-radius: 15px !important;
}
.product img{
    width: 100%;
    height: 270px;
}
.product:hover img:last-of-type{
    display: block;
}
.product:hover img:first-of-type{
    display: none;
}
.product img:last-of-type{
    display: none;
}
.card-body{
    padding-bottom: 0px !important;
}
.card-title{
    font-size: 1.1rem;
    font-weight: 500;
}
.card-text{
    overflow: hidden;
    max-height: 50px;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: 0px;
}
.btn{
    font-size: 14px !important;
}
.btn-more{
    background: none;
    border: none;
    background-color: #e7e7e7;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-more:hover{
    color: cornsilk;
    background-color: #478e91;
}